
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    
    <h1>404 Error</h1>
    <br />
    <b>The Page you are looking for is not found.....</b>
    <a href="~/Authenticate/Login">Go to Home</a>
</body>
</html>
