@model IssueTracker.Models.BugModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @if (ViewBag.User is null) {
        <script>
            alert('Login to continue');
            location.href = "../Authenticate/Login";
        </script>

    }
    @using (Html.BeginForm("create", "action", FormMethod.Post)) {
        @Html.TextBoxFor(g=>g.Description)
        @Html.EnumDropDownListFor(g=>g.Prior,"Select Priority",new {@class="list" })
        <input type="submit" value="Create" />
        @Html.ValidationSummary()
    }
</body>
</html>
